<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shakhruz | Portfolio</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo.jpg' %}">

    <link rel="stylesheet" href="CSS/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <!-- Scroll to top button -->
    <div class="scrollToTop-btn flex-center">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!-- Light/dark -->
    <div class="theme-btn flex-center">
        <i class="fas fa-moon"></i>

    </div>
    <!-- Header -->
    <header>
        <div class="nav-bar">
            <a href="#" class="logo">Shakhruz</a>
            <div class="navigation">
                <div class="nav-items">
                    <div class="nav-close-btn"></div>
                    <a href="#home">Главная</a>
                    <a href="#about">Обо мне</a>
                    <a href="#skills">Навыки</a>
                    <a href="#services">Сервис</a>
                    <a href="#portfolio">Портфолио</a>
                    <a href="#contact">Контакты</a>
                </div>
            </div>
            <div class="nav-menu-btn"></div>
        </div>
    </header>
    <!-- Home -->
    <section class="home flex-center" id="home">
        <div class="home-container">
            <div class="media-icons">
                <a href="https://t.me/IAMProgramist"><i class="fab fa-telegram"></i></a>
            </div>
            <div class="info">
                <h2>Привет, Я Шахруз</h2>
                <h3>Full-stuck разработчик</h3>
                <p>Я создаю потрясающие веб-сайты для вашего бизнеса, отличный опыт работы с телеграм-ботами и создания потрясающих веб-сайтов.</p>
                <a href="https://t.me/IAMProgramist" class="btn">Связаться со мной <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <div class="home-img">
                <img style="border-radius: 20%; width: 75%" src="../static/img/logo.jpg" alt="">
            </div>
        </div>
        <a href="#about" class="scroll-down">Спуститься вниз <i class="fas fa-arrow-down"></i></a>
    </section>
    <!-- About -->
    <section class="About section" id="about">
        <div class="container flex-center">
            <h1 class="section-title-01">Обо мне</h1>
            <h2 class="section-title-02">Обо мне</h2>
            <div class="content flex-center">
                <div class="about-img">
                    <img style="border-radius: 20%; width: 75%" src="../static/img/logo.jpg" alt="">
                </div>
                <div class="about-info">
                    <div class="description">
                        <h3>Я Шахруз</h3>
                        <h4>Я училься <span>Full-stuck</span> разработкой в <span>Узбекистане</span></h4>
                            <p>Проектировать и разрабатывать услуги для клиентов, специализирующихся на создании стильных, современных веб-сайтов, веб-сервисов и интернет-магазинов. Моя страсть — проектировать цифровой пользовательский опыт посредством осмысленных взаимодействий</p>
                    </div>
                    <ul class="profesionel-list">
                        <li class="list-item">
                            <h3>4+</h3>
                            <span>Многолетний <br>Опыт</span>
                        </li>
                        <li class="list-item">
                            <h3>100</h3>
                            <span>Счастливые <br>Клиенты</span>
                        </li>
                        <li class="list-item">
                            <h3>3+</h3>
                            <span>Успешных <br>Проектов</span>
                        </li>
                    </ul>
                    <a href="https://t.me/IAMProgramist" class="btn">Связаться со мной <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills -->
    <section class="Skills section" id="skills">
        <div class="container flex-center">
            <h1 class="section-title-01">Навыки</h1>
            <h1 class="section-title-02">Навыки</h1>
            <div class="content">
                <div class="skill-description">
                    <h3 style="font-size: 30px; margin-bottom: 20px;">Образование и навыки</h3>
                    <p>За более чем 2 лет я добился достаточных успехов в области современной  <br> веб-разработки, языков программирования веб-приложений и приложений нового поколения.</p>
                </div>
                <div class="skills-info education-all">
                    <div class="education">
                        <h4><label>Образование</label></h4>
                        <ul class="edu-item">
                            <li class="item">
                                <span class="year">2022-2024</span>
                                <p> <span>Начал учиться в </span> ShiftAcademy</p>
                            </li>

                        </ul>
                    </div>
                    <div class="education">
                        <h4><label>Навыки</label></h4>
                        <ul class="bars">
                            <li class="bar">
                                <div class="info">
                                    <span>HTML</span>
                                    <span>100%</Span>
                                </div>
                                <div class="line html"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>CSS</span>
                                    <span>100%</Span>
                                </div>
                                <div class="line css"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>Javascript</span>
                                    <span>90%</Span>
                                </div>
                                <div class="line js"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>React</span>
                                    <span>90%</Span>
                                </div>
                                <div class="line react"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>Python</span>
                                    <span>95%</Span>
                                </div>
                                <div class="line python"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>Java</span>
                                    <span>94%</Span>
                                </div>
                                <div class="line java"></div>
                            </li>
                            <li class="bar">
                                <div class="info">
                                    <span>postgreSql</span>
                                    <span>97%</Span>
                                </div>
                                <div class="line postgresql"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="education">
                        <h4><label>Награды</label></h4>
                        <ul class="edu-item">
                            <li class="item">
                                <span class="year">2022</span>
                                <p><span>Окончил курс как frontend разработчик </span> - ProUnity</p>
                            </li>
                            <li class="item">
                                <span class="year">2024</span>
                                <p><span>Окончил курс как Full-stuck junior разработчик</span> - ShiftAcademy</p>
                            </li>
                            <li class="item">
                                <span class="year">2025</span>
                                <p><span>Начинаю работать фрилансером и беру проекты в </span> Upwork Level 1</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="skill-description">
                    <h3 style="font-size: 30px; margin-bottom: 30px;">Работы & Опыт</h3>
                </div>
                <div class="skills-info">
                    <div class="experience-card">
                        <div class="upper">
                            <h3>Телеграм бот для логистики</h3>
                            <h5>неполная занятость | Офисе и Дома</h5>
                            <span>2024</span>
                        </div>
                        <div class="hr"></div>
                        <h4><label>Телеграм бот</label></h4>
                        <h4><label>Логистика</label></h4>
                    </div>
                    <div class="experience-card">
                        <div class="upper">
                            <h3>Телеграм бот для инструкции для Uzpos системы</h3>
                            <h5>Все время | Дома</h5>
                            <span>2025</span>
                        </div>
                        <div class="hr"></div>
                        <h4><label>Телеграм бот</label></h4>
                        <h4><label>Uzpos</label></h4>
                    </div>
<!--                    <div class="experience-card">-->
<!--                        <div class="upper">-->
<!--                            <h3>Веб-сайт для 3D печати</h3>-->
<!--                            <h5>Все время | Дома</h5>-->
<!--                            <span>2025</span>-->
<!--                        </div>-->
<!--                        <div class="hr"></div>-->
<!--                        <h4><label>Телеграм бот</label></h4>-->
<!--                        <h4><label>3D печать</label></h4>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- Servises -->
    <section class="services section" id="services">
        <div style="flex-direction: column;" class="conteiner flex-center">
            <h1 class="section-title-01">Сервис</h1>
            <h2 class="section-title-02">Сервис</h2>
            <div class="content">
                <div class="services-description">
                    <h3>Что я предлагаю</h3>
                </div>
                <ul style="display: flex;" class="service-item">
                    <!-- 1 -->
                    <li class="services-container">
                        <div class="service-card">
                            <i class="fas fa-photo-video"></i>
                            <h3>Брендинг и дизайн</h3>
                            <div class="learn-more-btn">узнать больше <i class="fas fa-long-arrow-alt-right"></i></div>
                        </div>
                        <div class="service-modal flex-center">
                            <div class="service-modal-body">
                                <i class="fas fa-times modal-close-btn"></i>
                                <h3>Брендинг и дизайн</h3>
                                <h4>Что такое бренд и дизайн</h4>
                                <p>Дизайн бренда можно определить как одну из важнейших маркетинговых практик по созданию названия, логотипа, дизайна и символических элементов, связанных с брендом, для создания отличительной идентичности по сравнению с другими брендами на рынке, а также для стимулирования дифференциации продукта.</p>
                                <h4>Что я предлагаю</h4>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Дизайн логотипа</li>
                                    <li><i class="fas fa-check-circle"></i> Дизайн баннера</li>
                                    <li><i class="fas fa-check-circle"></i> Визитные карточки и бизнес-системы</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- 2 -->
                    <li class="services-container">
                        <div class="service-card">
                            <i class="fas fa-align-left"></i>
                            <h3>Веб-разработка</h3>
                            <div class="learn-more-btn">узнать больше <i class="fas fa-long-arrow-alt-right"></i></div>
                        </div>
                        <div class="service-modal flex-center">
                            <div class="service-modal-body">
                                <i class="fas fa-times modal-close-btn"></i>
                                <h3>Веб-разработка</h3>
                                <h4>Что такое веб-разработка?</h4>
                                <p>Услуги веб-разработки используются для проектирования, создания, поддержки и развития всех типов веб-программного обеспечения.</p>
                                <h4>What I provide</h4>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Разработка веб-приложений</li>
                                    <li><i class="fas fa-check-circle"></i> Админ-панель</li>
                                    <li><i class="fas fa-check-circle"></i> Обслуживание</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- 3 -->
                    <li class="services-container">
                        <div class="service-card">
                            <i class="fab fa-telegram-plane"></i>
                            <h3>Разработка Telegram-ботов</h3>
                            <div class="learn-more-btn">узнать больше <i class="fas fa-long-arrow-alt-right"></i></div>
                        </div>
                        <div class="service-modal flex-center">
                            <div class="service-modal-body">
                                <i class="fas fa-times modal-close-btn"></i>
                                <h3>Разработка Telegram-ботов</h3>
                                <h4>Что такое Telegram-бот?</h4>
                                <p>Telegram-бот — это программа, работающая внутри Telegram и автоматизирующая различные процессы, такие как общение с клиентами, обработка заказов и получение уведомлений.</p>
                                <h4>Что я предоставляю</h4>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Разработка чат-ботов для бизнеса</li>
                                    <li><i class="fas fa-check-circle"></i> Интеграция с базами данных</li>
                                    <li><i class="fas fa-check-circle"></i> Автоматизация процессов</li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <!-- Contact -->
    <section class="contact section" id="contact">
        <div class="container flex-center">
            <h1 class="section-title-01">Контакты</h1>
            <h2 class="section-title-02">Контакты</h2>
            <div class="content">
                <div class="contact-left">
                    <h2>Давайте обсудим ваш проект</h2>
                    <ul class="contact-list">
                        <li>
                            <h3 class="item-title"><i class="fas fa-phone"> телефон</i></h3>
                            <span>+998 91 415 15 30</span>
                        </li>
                        <li>
                            <h3 class="item-title"><i class="fas fa-envelope"> Адрес электронной почты</i></h3>
                            <span><a href="mailto:shahruzsharipov11@gmail.com">shahruzsharipov11@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
                <div class="contact-right">
                    <p>IЯ всегда открыт для обсуждения вопросов разработки<span> продукта или партнерства.</span></p>
                        <form action="{% url 'home' %}" method="post" class="contact-form">
                            {% csrf_token %}
                            <div class="first-row">
                                <input type="text" name="name" placeholder="  Name" required>
                                <input type="text" name="telegram_username" placeholder="Telegram Username" required>
                            </div>
                        <div class="second-row">
                            <input type="email" name="email" placeholder="  Email" required>
                            <input type="text" name="subject" placeholder="  Subject" required>
                        </div>
                        <div class="third-row">
                            <textarea name="message" rows="7" placeholder="  Message" required></textarea>
                        </div>
                        <button class="btn" type="submit">Send Message <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div style="gap: 100px;" class="div">
                <div class="about group">
                    <h2>Shakhruz</h2>
                    <span>Full-stack Devoloper</span><br>
                    <a href="#about">     About Me</a>
                </div>
                <div class="hr"></div>
                <div  class="info group">
                    <h3>More</h3>
                    <ul>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="hr"></div>
                <div  class="follow group">
                    <h3>Follow</h3>
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright group">
                <p>2023 by Coding Snow. All rights reserved.</p>
            </div>
            </div>


    </footer>
{% load static %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>